* {
    margin: 0;
    padding: 0;
}


.main {
  background-color: rgb(171, 174, 180);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(5, 49, 63);
  height: 550px;
  width: 350px;
  display: inline-block;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
 

#display {
  height: 70px;
  width: 300px;
  background-color: rgb(163, 203, 204);
  box-sizing: content-box;
  border-radius: 10px;
  margin-bottom: 50px;
}


::placeholder {
    display: flex;
    text-align: center;
    font-size: 30px;
}


button {
  background-color: rgb(138, 142, 141);
  width: 55px;
  height: 55px;
  font-weight: bolder;
  box-sizing: border-box;
  border-radius: 20%;
  scale: (2, 2);
  margin-bottom: 10;
  font-size: 15px;
}

button:hover {
  background-color: rgb(247, 241, 241);
}

#plus {
  height: 115px;
  border-radius: 10%;
}

#zero {
  width: 120px;
  border-radius: 10%;
}
